@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";
/* Estilização dos Personagens, e suas li que contém os textos, que são incluídos no component Nav */ 
.menu {
    width: 100%;
    @include align-center;
    flex-direction: column;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 300;
    /* Estilizando o menu mobile  */
    ul {
        @include align-center;
        flex-direction: column;
        margin-bottom: 2rem;
        cursor: pointer;

        li {
            &:not(:last-child) {
                margin-bottom: 1.5rem;
            }

            a {
                color: $white;
                transition: 0.3s ease-in-out;

                &:hover {
                    color: red;
                }                
            }
        }
    }  
}
