@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.main {
  width: 100%;
  height: 100%;
  position: relative;
}

nav {
  width: 200px;
  top: 100px;/*60px*/
  position: absolute;
  z-index: 1;
  font-family: 'Oswald';
}

nav ul {
  position: fixed;
  margin-left: 30px;
  font-size: 17px;
}

nav ul li {
  margin-bottom: 15px;
  vertical-align: middle;
  letter-spacing: 2px;
}

@media only screen and (max-width: 640px) {
  nav ul li a {
    color: #e7e3df;
    display: inline-block;
    padding: 6px 0;
    font-size: .62222em;
    position: relative;
    text-shadow: 0 0 3px rgba(0, 0, 0, .8);
  }
}

@media only screen and (max-width: 1023px) {
  nav ul li a {
    color: #e7e3df;
    display: inline-block;
    padding: 6px 0;
    font-size: .9em;
    position: relative;
    text-shadow: 0 0 3px rgba(0, 0, 0, .8);
  }
}

@media only screen and (max-width: 400px) {
    nav ul li:nth-child(2),
    nav ul li:nth-child(3),
    nav ul li:nth-child(4),
    nav ul li:nth-child(5),
    nav ul li:nth-child(6),
    nav ul li:nth-child(7) {
    color: #e7e3df;
    padding: 6px 0;
    font-size: .9em;
    position: relative;
    text-shadow: 0 0 3px rgba(0, 0, 0, .8);
  }
}

@media only screen and (min-width: 1024px) {
    li:nth-child(2),
    li:nth-child(3),
    li:nth-child(4),
    li:nth-child(5),
    li:nth-child(6),
    li:nth-child(7) {
    color: #e7e3df;
    padding: 6px 0;
    font-size: .9em;
    position: relative;
    text-shadow: 0 0 3px rgba(0, 0, 0, .8);
  }
}

@media only screen and (max-width: 400px) {
  nav ul li:nth-child(1) {
    color: #ef7800;
    display: inline-block;
    padding: 6px 0;
    font-size: 1.12222em;
    position: relative;
    text-shadow: 0 0 3px rgba(0, 0, 0, .8);
  }
}

@media only screen and (min-width: 1024px) {
  nav ul li:nth-child(1) {
    color: #ef7800;
    display: inline-block;
    padding: 6px 0;
    font-size: 1.12222em;
    position: relative;
    text-shadow: 0 0 3px rgba(0, 0, 0, .8);
  }
}

nav ul li a:hover {
  cursor: pointer;
  color: #ef7800;
  transition: 0.2s ease-in-out;
}

nav ul .goldeditonLink a {
  padding: 0 5px;
  border-left: 3px solid #ef7800;
  color: #ef7800;
}

nav ul .goldeditonLink a:hover {
  color: #fff;
  transition: 0.2s ease-in-out;
}

nav ul .goldeditonLink {
  margin-top: 45px;
}

nav ul .goldeditonLink {
  font-size: 22px;
  letter-spacing: 0;
  padding-left: 0;
}

nav ul .current a:before, nav ul a:after {
  -webkit-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  opacity: 1;
}

@media only screen and (max-width: 1023px) {
  .top .mainVisual {
    background: url(../../../images/ResidentEvil7/r7.png) no-repeat center top;
    background-size: cover;
    margin: auto;
    position: relative;
    font-size: 100%;
    text-align: center;
    width: 100%;
    height: 100vw;
  }
}

@media only screen and (min-width: 1024px) {
  .top .mainVisual {
    margin: auto;
    top: 20%;
    position: relative;
    font-size: 100%;
    background: #000;
    text-align: center;
    width: 100%;
  }
}

.top .mainVisual:before {
  width: 100%;
  height: 100%;
  content: "";
  background: url(../../../images/ResidentEvil7/cover.png) no-repeat center top;
  background-size: cover;
  display: block;
  top: 0;
  left: 0;
}

@keyframes change{
  0% {
    // background: url(../../../images/ResidentEvil7/main_img01.jpg) no-repeat center top -6em;
    background-size: 120%;
    animation-duration: 1ms;
    transition-delay: 1ms;
    transition: 1.5s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  }
  20% {
    // background: url(../../../images/ResidentEvil7/main_img02.jpg) no-repeat center top -6em;
    background-size: 120%;
    animation-duration: 1ms;
    transition-delay: 1ms;
    z-index: 1;
    transition: 1.5s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  }
  40% {
    // background: url(../../../images/ResidentEvil7/main_img03.jpg) no-repeat center top -6em;
    background-size: 120%;
    animation-duration: 1ms;
    transition-delay: 1ms;
    transition: 1.5s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  }
  60% {
    // background: url(../../../images/ResidentEvil7/main_img04.jpg) no-repeat center top -6em;
    background-size: 120%;
    animation-duration: 1ms;
    transition-delay: 1ms;
    transition: 1.5s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  }
  80% {
    // background: url(../../../images/ResidentEvil7/main_img05.jpg) no-repeat center top -6em;
    background-size: 120%;
    animation-duration: 1ms;
    transition-delay: 1ms;
    transition: 1.5s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  }
  100% {
    // background: url(../../../images/ResidentEvil7/main_img06.jpg) no-repeat center top -6em;
    background-size: 120%;
    animation-duration: 1ms;
    transition-delay: 1ms;
    transition: 1.5s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  }
}

@media only screen and (max-width: 1023px) {
  .top .mainVisual .bgArea {
    
    // min-height: 729px;
    position: relative;
    width: 100%;
    background-size: 100% cover, auto;
    background-position: left top, left top;
    background-repeat: no-repeat, repeat;
    transition: ease-in-out 1.5ms;
    animation: change 5s ease-in-out;  
    background: #000;
  }
}

@media only screen and (min-width: 1024px) {
  .top .mainVisual .bgArea {
    background: #000;
    background: url(../../../images/ResidentEvil7/main_img06.jpg) no-repeat center top -6em;
    background-size: 120%;
    // min-height: 729px;
    position: relative;
    width: 100%;
    transition: ease-in-out 1.5ms;
    animation: change 6s ease-in-out alternate; 
  }
}

// .top .mainVisual .bgArea .bgAreaInner .mainImg_effectImg {
//   display: none;
// }

.top .mainVisual .bgArea .bgAreaInner img {
  height: auto;
  width: 100%;
}

.top .mainVisual .bgArea .bgAreaInner .mainImg {
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.top .mainVisual .bgArea .bgAreaInner .mainImg_secondAnime {
  background: url(../../../images/ResidentEvil7/main_img02.jpg) no-repeat center top -6em;
  background-size: 120%;
  animation-name: change;
  animation-duration: 3ms;
  transition-delay: 3ms;
  transition: 1.5s ease-in-out;
  -webkit-transition: 2s ease-in-out;
  -moz-transition: 2s ease-in-out;
  -o-transition: 2s ease-in-out;
  transition: opacity 2s ease-in-out, transform 1s ease-in-out;
  opacity: 0.2;
}

.top .mainVisual .bgArea .bgAreaInner .mainImg_thirdAnime {
  background: url(../../../images/ResidentEvil7/main_img03.jpg) no-repeat center top -6em;
  background-size: 120%;
  z-index: 1;
  animation-name: change;
  animation-duration: 1ms;
  transition-delay: 1ms;
  transition: 1.5s ease-in-out;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  opacity: 0.4;
}

.top .mainVisual .bgArea .bgAreaInner .mainImg_fourthAnime {
  background: url(../../../images/ResidentEvil7/main_img04.jpg) no-repeat center top -6em;
  background-size: 120%;
  z-index: 2;
  animation: change;
  animation-duration: 1ms;
  transition-delay: 1ms;
  transition: 1.5s ease-in-out;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  opacity: 0.6;
}

.top .mainVisual .bgArea .bgAreaInner .mainImg_fifthAnime {
  background: url(../../../images/ResidentEvil7/main_img05.jpg) no-repeat center top -6em;
  background-size: 120%;
  z-index: 3;
  animation: change;
  animation-duration: 1ms;
  transition-delay: 1ms;
  transition: 1.5s ease-in-out;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  opacity: 0.8;
}

.top .mainVisual .bgArea .bgAreaInner .mainImg_sixthAnime {
  background: url(../../../images/ResidentEvil7/main_img06.jpg) no-repeat center top -6em;
  background-size: 120%;
  z-index: 4;
  animation: change;
  animation-duration: 1ms;
  transition-delay: 1ms;
  transition: 1.5s ease-in-out;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  opacity: 1;
}

// @media only screen and (max-width: 1023px) {
//   .top .mainVisual .bgArea .bgAreaInner .mainImg_effectImg {
//     background: url(../../../images/ResidentEvil7/main_img_effect.png) no-repeat center top -20em;
//     background-size: 120%;
//     height: 100%;
//     left: 0;
//     position: absolute;
//     right: 0;
//     width: 100%;
//     position: absolute;
//     z-index: 5;
//     animation-delay: 15s;
//     -webkit-animation:pulsate 1.5s ease-in-out infinite;
//     animation:pulsate 1.5s ease-in-out infinite;
//     animation-direction: alternate;
//     -webkit-animation-name: pulse;
//     animation-name: pulse;
//     z-index: 9;
//   }
// }


// @media only screen and (min-width: 1024px) {
//   .top .mainVisual .bgArea .bgAreaInner .mainImg_effectImg {
//   background: url(../../../images/ResidentEvil7/main_img_effect.png) no-repeat center top -6em;
//   background-size: 120%;
//   position: absolute;
//   z-index: 5;
//   animation-delay: 10s;
//   -webkit-animation:pulsate 1.5s ease-in-out infinite;
//   animation:pulsate 1.5s ease-in-out infinite;
//   animation-direction: alternate;
//   -webkit-animation-name: pulse;
//   animation-name: pulse;
//   }
// }

@keyframes pulse {
  0% { 
    transition-delay: 10s;
    animation-duration: 1.6ms;    
    transition: 1.2s ease-in-out;
    opacity: 0; 
  }
  50% { 
    animation-duration: 1.6ms;
    transition: 1.2s ease-in-out;
    opacity: 0.5; 
  }
  100% { 
    animation-duration: 1.6ms;
    transition: 1.2s ease-in-out;
    opacity: 1; 
  }
}

.top .mainVisual .firstViewContents {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

@media only screen and (max-width: 1023px) {
  .top .mainVisual .firstViewContents .firstViewContentsInner {
    height: 100%;
    margin: auto;
    display: inline-block;
    max-width: 81.9672131147541%;
    position: relative;
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .top .mainVisual .firstViewContents .firstViewContentsInner {
    height: 100%;
    margin: auto;
    max-width: 81.9672131147541%;
    position: relative;
    width: 100%;
  }
}

@media only screen and (max-width: 1023px) {
  .top .mainVisual .sales {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .top .mainVisual .sales {
    border: solid #ef7800 2px;
    border-radius: 50%;
    box-sizing: border-box;
    color: #ef7800;
    font-size: 1.166667vw;
    height: 19.981%;
    line-height: 1.2;
    min-height: 144px;
    padding: 0 1.2%;
    position: absolute;
    right: 3.3%;
    top: 31px;
    width: 14.208%;
    z-index: 999;
  }
}

.top .mainVisual .sales span {
  display: block;
  line-height: 1.1;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.top .mainVisual .logoArea {
  width: 37.5%;/*390/500*/
    height: 250px;/*410px*/
    top: 52.7%;
    right: -.65%;
    margin-right: 0;/*250*/
    margin-top: -16.5%;/*-205px*/
    text-align: center;
    z-index: 999;
    position: absolute;
}

@media only screen and (max-width: 1023px) {
  .top .mainVisual .logoArea {
    display: none;
  }
}

@media only screen and (min-width: 1024px)  {
  .top .mainVisual .logoArea {
    width: 37.5%;/*390/500*/
    height: 250px;/*410px*/
    top: 52.7%;
    right: -.65%;
    margin-right: 0;/*250*/
    margin-top: -16.5%;/*-205px*/
    text-align: center;
    z-index: 999;
    position: absolute;
  }
}

.top .mainVisual .logoArea .lead {
  color: #ef7800;
  text-align: center;
  margin-bottom: 15px;
  font-size: 6vw;/*24px*/
  text-shadow: 0px 0px 5px black;
  font-family: Cinzel;
  font-weight: bold;
}

@media only screen and (min-width: 1024px)  {
  .top .mainVisual .logoArea .lead {
    color: #ef7800;
    text-align: center;
    margin-bottom: 15px;
    font-size: 2vw;/*24px*/
    text-shadow: 0px 0px 5px black;
    font-family: Cinzel;
    font-weight: bold;
  }
}

.top .mainVisual .logoArea h1 img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}



@media only screen and (max-width: 1023px)  {
  .top .mainVisual .firstViewContents .topUpdate {
    /*height: 342px;*/
    display: inline-block;
    left: 0;
    margin: auto;
    max-width: 87.43169398907104%;
    position: absolute;
    right: 0;
    opacity: .1;
    top: 38.5%;/*65.5*/
    width: 100%;/*100%*/
    height: 55vw;
    z-index: 10;
    margin-bottom: 14vw;

    &:hover{
      opacity: 1;
    }
  }
}

@media only screen and (min-width: 1024px)  {
  .top .mainVisual .firstViewContents .topUpdate {
  /*height: 342px;*/
  left: 0;
  margin: auto;
  max-width: 87.43169398907104%;
  position: absolute;
  right: 0;
  top: 63.5%;/*65.5*/
  width: 100%;/*100%*/
  z-index: 10;
}
}

.top .mainVisual .firstViewContents .topUpdate .fullSizeWrap .fullSize_bnrDLC {
  width: 100%;/*320*/
  /*height: 240px;320*/
  /*float: left;*/
  /*margin-right: 9px;10*/
  /*background: #000;*/
}

.top .mainVisual .firstViewContents .fullSizeWrap .fullSize_bnrDLC {
  background: transparent !important;
}

@media only screen and (max-width: 1023px)  {
  .top .mainVisual .firstViewContents .fullSizeWrap .fullSize_bnrDLC .harfSizeWrap {
    //display: -ms-flex;
    //display: -webkit-flex;
    display: block;
    width: 100%;
    margin: 0 auto;
    //-ms-flex-wrap: wrap;
    //-webkit-flex-wrap: wrap;
    //-ms-flex-pack: justify;
    //-webkit-justify-content: space-between;
    justify-content: space-between;
    position: relative;
  }
}

@media only screen and (min-width: 1024px)  {
  .top .mainVisual .firstViewContents .fullSizeWrap .fullSize_bnrDLC .harfSizeWrap {
    //display: -ms-flex;
    //display: -webkit-flex;
    display: flex;
    //-ms-flex-wrap: wrap;
    //-webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    //-ms-flex-pack: justify;
    //-webkit-justify-content: space-between;
    justify-content: space-between;
    position: relative;
  }
}

.top .mainVisual .firstViewContents .fullSizeWrap .fullSize_bnrDLC .harfSizeWrap .harfSize_bnrVillage, .harfSize_bnrZOE {
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (min-width: 1024px)  {
  .top .mainVisual .firstViewContents .fullSizeWrap .fullSize_bnrDLC .harfSizeWrap .harfSize_bnrVillage {
    background: #000;
    border: solid #5b5c5d 1px;
    box-sizing: border-box;
    /*max-height: 130px;*/
    overflow: hidden;
    width: 48.66%;
    cursor: pointer;
  }
}

@media only screen and (min-width: 1024px)  {
  .top .mainVisual .firstViewContents .fullSizeWrap .fullSize_bnrDLC .harfSizeWrap .harfSize_bnrVillage a img:hover {
    background: #000;
    opacity: 0.7;
    transition: .5s ease-in-out;
  }
}

@media only screen and (min-width: 1024px)  {
  .top .mainVisual .firstViewContents .fullSizeWrap .fullSize_bnrDLC .harfSizeWrap .harfSize_bnrZOE {
    background: #000;
    border: solid #5b5c5d 1px;
    box-sizing: border-box;
    /*max-height: 130px;*/
    overflow: hidden;
    width: 48.66%;
    cursor: pointer;
  }
}

@media only screen and (min-width: 1024px)  {
  .top .mainVisual .firstViewContents .fullSizeWrap .fullSize_bnrDLC .harfSizeWrap .harfSize_bnrZOE a img:hover {
    background: #000;
    opacity: 0.7;
    transition: .5s ease-in-out;
  }
}

.top .mainVisual .firstViewContents .fullSizeWrap .fullSize_bnrDLC a {
  display: block;
  position: relative;
  width: 100%;/*320*/
}

.top .mainVisual .firstViewContents .fullSizeWrap .fullSize_bnrDLC .harfSizeWrap .harfSize_bnrVillage a, .harfSize_bnrZOE a figure {
  //display: -ms-flex;
  //display: -webkit-flex;
  display: flex;
  //-ms-flex-wrap: wrap;
  //-webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.top .mainVisual .firstViewContents .fullSizeWrap .fullSize_bnrDLC .harfSizeWrap .harfSize_bnrVillage a, .harfSize_bnrZOE a img {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

a img {
  //-webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  //-webkit-transition: 0.2s ease-in-out;
  //-moz-transition: 0.2s ease-in-out;
  //-o-transition: 0.2s ease-in-out;
  //-ms-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

// a img:hover {
//   background-color: #5b5c5d;
//   opacity: 0.7;
// }

.top .mainVisual .firstViewContents .fullSizeWrap .fullSize.bnrDLC .harfSizeWrap .harfSize_bnrVillage a, .harfSize_bnrZOE a figure figcaption {
  display: block;
  height: auto;
  line-height: 1.3;
  width: 100%;
}

@media only screen and (max-width: 1023px) {
  .top .mainVisual .firstViewContents .fullSizeWrap .fullSize_bnrDLC .harfSize_bnrVillage figure figcaption,
  .top .mainVisual .firstViewContents .fullSizeWrap .fullSize_bnrDLC .harfSize_bnrZOE figure figcaption {
    box-sizing: border-box;
    color: #e7e3df;
    font-family: 'Noto Sans', 'メイリオ',Meiryo,'ＭＳ Ｐゴシック','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro', verdana, Helvetica,Arial, sans-serif;
    font-size: 2vw;
    //line-height: 1.5;
    padding: .75em;
    text-align: left;
  }
}

@media only screen and (min-width: 1024px) {
  .top .mainVisual .firstViewContents .fullSizeWrap .fullSize_bnrDLC .harfSize_bnrVillage figure figcaption,
  .top .mainVisual .firstViewContents .fullSizeWrap .fullSize_bnrDLC .harfSize_bnrZOE figure figcaption {
    box-sizing: border-box;
    color: #e7e3df;
    font-family: 'Noto Sans', 'メイリオ',Meiryo,'ＭＳ Ｐゴシック','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro', verdana, Helvetica,Arial, sans-serif;
    font-size: .91666667vw;
    //line-height: 1.5;
    padding: .75em;
    text-align: left;
  }
}

.top .mainVisual .firstViewContents .fullSizeWrap .fullSize_bnrDLC .harfSizeWrap .harfSize_bnrVillage, .harfSize_bnrZOE {
  background: #000;
  border: solid #5b5c5d 1px;
  box-sizing: border-box;
  /*max-height: 130px;*/
  overflow: hidden;
  width: 68.66%;
}

@media only screen and (max-width: 1023px) {
  .top .mainVisual .firstViewContents .fullSizeWrap .fullSize_bnrDLC .harfSizeWrap .harfSize_bnrVillage, .harfSize_bnrZOE {
    background: #000;
    border: solid #5b5c5d 1px;
    box-sizing: border-box;
    /*max-height: 130px;*/
    overflow: hidden;
    width: 78.66%;
    margin-bottom: 2vw;
  }
}

@media only screen and (min-width: 1024px) {
  .top .mainVisual .firstViewContents .fullSizeWrap .fullSize_bnrDLC .harfSizeWrap .harfSize_bnrVillage, .harfSize_bnrZOE {
    background: #000;
    border: solid #5b5c5d 1px;
    box-sizing: border-box;
    /*max-height: 130px;*/
    overflow: hidden;
    width: 48.66%;
  }
}

.news {
  color: #e7e3df;
  margin-bottom: 40px;
}

.news a {
  display: inline-block;
}

@media only screen and (max-width: 1023px) {
  .news a {
    border: solid #ef7800 2px;
    background: #000;
    box-sizing: border-box;
    display: block;
    font-size: 2.166667vw;/*14px*/
    margin: 1.25vw auto 0;
    padding: 12px 15px;
    position: relative;
    width: 78.66%;
  }
}

@media only screen and (min-width: 1024px) {
  .news a {
    border: solid #ef7800 2px;
    background: #000;
    box-sizing: border-box;
    display: block;
    font-size: 1.166667vw;/*14px*/
    margin: 1.25vw auto 0;
    padding: 12px 15px;
    position: relative;
    width: 100%;
  }
}

.news a {
  color: #ef7800;
  font-weight: bold;
}

@media only screen and (max-width: 1023px) {
  .news :hover {
    background: #ef7800;
    color: #fff;
    opacity: 1;
    //-webkit-transition: all 0.2s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
}

@media only screen and (min-width: 1024px) {
  .news :hover {
    background: #ef7800;
    color: #fff;
    opacity: 1;
    //-webkit-transition: all 0.2s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
}

/* ===================================== */

.top .update {
  width: 100%;
  margin: 0 auto 40px;
  background: #000;
  margin-bottom: 0px;
  /*border-top: 1px solid #212121;*/
}

@media only screen and (max-width: 1023px) {
  .top .update {
    margin-top: 10vw;
  }
}

.top .update .updateListWrap {
  border-bottom: solid #434343 1px;
}

@media only screen and (max-width: 1023px) {
  .top .update .updateList {
    max-width: 80vw;
    width: 650px;
    margin: 0 auto;
    background: #000;
    position: relative;
    // -webkit-transition: max-height 0.25s ease-in-out;
    // -moz-transition: max-height 0.25s ease-in-out;
    // -o-transition: max-height 0.25s ease-in-out;
    // -ms-transition: max-height 0.25s ease-in-out;
    transition: max-height 0.25s ease-in-out;
    overflow: hidden;
    box-sizing: border-box;
    padding: 5px 0 0;
  }
}

@media only screen and (min-width: 1024px) {
  .top .update .updateList  {
    width: 980px;
    margin: 0 auto;
    background: #000;
    position: relative;
    // -webkit-transition: max-height 0.25s ease-in-out;
    // -moz-transition: max-height 0.25s ease-in-out;
    // -o-transition: max-height 0.25s ease-in-out;
    // -ms-transition: max-height 0.25s ease-in-out;
    transition: max-height 0.25s ease-in-out;
    overflow: hidden;
    box-sizing: border-box;
    padding: 5px 0 0;
  }
}

.top .update .updateList ul li {
  font-size: 14px;
  letter-spacing: 2px;
  padding: 12px 0;
}

@media only screen and (max-width: 1023px) {
  .top .update .updateList ul li {
    font-size: 12px;
    letter-spacing: 2px;
    padding: 12px 0;
  }
}

@media only screen and (min-width: 1024px) {
  .top .update .updateList ul li {
    font-size: 14px;
    letter-spacing: 2px;
    padding: 12px 0;
  }
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0px;
  font-size: 0.1px;
  line-height: 0.1px;
}
.top .update .updateList ul li .date {
  color: #ef7800;
  font-family: 'Oswald';
}
.top .update .updateList ul li .text {
  color: #e7e3df;
}
.top .update .updateList ul li a {
  color: #fff;
}
.top .update .updateList ul li a:hover {
  opacity: 0.75;
}
.top .update .updateList .textlink {
  color: #ef7800 !important;
  text-decoration: underline !important;
}
.top .update .updateList .textlink:hover {
  text-decoration: none !important;
}

.top .update .updateList .btn {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
}

@media only screen and (max-width: 1023px) {
  .top .update .updateList .btn:after {
    border-top: 1px solid #ef7800;
    border-left: 1px solid #ef7800;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 5px; 
    // -webkit-transform: rotate(-135deg);
    // -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
    content: "";
  }
}

@media only screen and (min-width: 1024px) {
  .top .update .updateList .btn:after {
    border-top: 1px solid #ef7800;
    border-left: 1px solid #ef7800;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 15px; 
    // -webkit-transform: rotate(-135deg);
    // -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
    content: "";
  }
}

.top .update .updateList .btn.open:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 17px;
}

.top .update .updateList .arrow {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
}

@media only screen and (max-width: 1023px) {
  .top .update .updateList .arrow::after {
    border-top: 1px solid #ef7800;
    border-left: 1px solid #ef7800;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
    // -webkit-transform: rotate(135deg);
    // -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    content: "";
  } 
}

@media only screen and (min-width: 1024px) {
  .top .update .updateList .arrow::after {
    border-top: 1px solid #ef7800;
    border-left: 1px solid #ef7800;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 15px;
    top: 10px;
    // -webkit-transform: rotate(135deg);
    // -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    content: "";
  }
}

.top .update .hideInfo {
  display: none;
}

/* ========================== */

@media only screen and (max-width: 1023px) {
  .top .spec {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    background: #000;
    border-bottom: 1px solid #444;
    /*min-height: 452px;*/
    padding-bottom: 3em;
    bottom: 2px;
    position: relative;
    z-index: 5;
    background: url(../../../images/ResidentEvil7/bg_spec.jpg) no-repeat right top 40px #000;
  }
}

@media only screen and (min-width: 1024px) {
  .top .spec {
    width: 100%;
    background: #000;
    border-bottom: 1px solid #444;
    /*min-height: 452px;*/
    padding-bottom: 3em;
    position: relative;
    z-index: 5;
    background: url(../../../images/ResidentEvil7/bg_spec.jpg) no-repeat right top 40px #000;
  }
}

@media only screen and (max-width: 1023px) {
  .top .spec h2 {
    color: #b0b0b0;
    font-size: 30px;
    text-align: center;
    margin-bottom: 25px;
    font-family: 'Oswald';
  }
}

@media only screen and (min-width: 1024px) {
  .top .spec h2 {
    color: #b0b0b0;
    font-size: 32px;
    text-align: center;
    margin-bottom: 25px;
    font-family: 'Oswald';
  }
}

@media only screen and (max-width: 1023px) {
  .top .spec .inner {
    width: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 45px 0 25px;
  }
}

@media only screen and (min-width: 1024px) {
  .top .spec .inner {
    width: 820px;
    top: 40px;
    margin: 0 auto;
    padding: 45px 0 25px;
  }
}

.top .spec .inner .award {
  border-bottom: 1px solid #554d4b;
  margin: 0 auto 45px;
  padding: 0 0 25px;
}

.top .spec .inner div {
  width: auto;
}

@media only screen and (max-width: 1023px) {
  .top .spec .inner div ul li {
    color: #b0b0b0;
    margin: 0  auto;
    border-bottom: 1px solid #554d4b;
    padding: 18px 10px;
    box-sizing: border-box;
    text-align: center;
    font-size: 18px;
    left: 50%;
    right: 50%;
    letter-spacing: -.40em;
  }
}

@media only screen and (min-width: 1024px) {
  .top .spec .inner div ul li {
    color: #b0b0b0;
    border-bottom: 1px solid #554d4b;
    padding: 18px 10px;
    box-sizing: border-box;
    font-size: 12px;
    letter-spacing: -.40em;
  }
}

@media only screen and (max-width: 1023px) {
  .top .spec .inner div ul li:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0px;
    font-size: 0.1px;
    line-height: 0.1px;
  }
}

@media only screen and (min-width: 1024px) {
  .top .spec .inner div ul li:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0px;
  font-size: 0.1px;
  line-height: 0.1px;
  }
}

@media only screen and (max-width: 1023px) {
  .top .spec .inner div ul li span {
  display: inline-block;
  vertical-align: top;
  line-height: 1.3;
  margin-bottom: 2.7222vw;
  letter-spacing: normal;
  }
}

@media only screen and (min-width: 1024px) {
  .top .spec .inner div ul li span {
  display: inline-block;
  vertical-align: top;
  line-height: 1.3;
  letter-spacing: normal;
  }
}

@media only screen and (max-width: 1023px) {
  .top .spec .inner div ul li .title {
    width: 140px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
     margin-bottom: 2vw;
  }
}

@media only screen and (min-width: 1024px) {
  .top .spec .inner div ul li .title {
  width: 140px;
  font-weight: bold;
  float: left;
  }
}

@media only screen and (max-width: 1023px) {
  .top .spec .inner div ul li .text {
    width: 100%;
    position: relative;
    padding-left: 20px;
    box-sizing: border-box;
    text-align: center;
  }
}

@media only screen and (min-width: 1024px) {
  .top .spec .inner div ul li .text {
  width: 660px;
  position: relative;
  padding-left: 20px;
  box-sizing: border-box;
  float: right;
  }
}

@media only screen and (max-width: 1023px) {
  .top .spec .inner div ul li .text:before {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .top .spec .inner div ul li .text:before {
    content: "：";
    position: absolute;
    top: 0;
    left: 0;
  }
}

.top .spec .inner div ul li .text a {
  color: #ef7800;
  text-decoration: underline;
}

.top .spec .inner div ul li .text a:hover {
  text-decoration: none;
}

.top .spec .inner div ul li .text img {
  vertical-align: top;
  margin-left: 10px;
}

.top .spec .inner .left ul li:first-child .text {
  width: 100%;
  float: none;
  font-weight: bold;
  padding-left: 0;
}

.top .spec .inner .left ul li:first-child .text:before {
  display: none;
}

@media only screen and (max-width: 1023px) {
  .top .spec .inner .right {
    display: block;
    position: relative;
    text-align: center;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1024px) {
  .top .spec .inner .right {
    width: auto;
    float: none;
  }
}

@media only screen and (max-width: 1023px) {
  .top .spec .inner_award {
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;
    text-align: center;
    width: 100%;
  }
}

@media only screen and (max-width: 1023px) {
  .top .spec .awardList {
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;
    text-align: center;
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .top .spec .awardList {
    //display: -ms-flex;
    //display: -webkit-flex;
    display: flex;
    //-ms-flex-wrap: wrap;
    //-webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    //-ms-flex-pack: justify;
    //-webkit-justify-content: space-between;
    justify-content: space-between;
    margin: auto;
    width: 420px;
  }
}

@media only screen and (max-width: 1023px) {
  .top .spec .awardList li {
    width: 150px;
    margin: 0 auto;
    text-align: center;
  }
}

@media only screen and (min-width: 1024px) {
  .top .spec .awardList li {
    width: 94px;
  }
}

@media only screen and (min-width: 1024px) {
  .top .spec .awardList li:nth-child(1) {
    width: 94px;
    margin-top: .5em;
  }
}

@media only screen and (max-width: 1023px)  {
  .top .spec .awardList li:nth-child(4) {
    width: 180px;
    margin: 0 auto;
    text-align: center;
  }
}

@media only screen and (min-width: 1024px) {
  .top .spec .awardList li:nth-child(4) {
    width: 118px;
  }
}

@media only screen and (max-width: 1023px)  {
  .top .spec .awardList li img {
    height: auto;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 420px)  {
  .top .spec .awardList li img {
    height: auto;
    width: 70%;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    transition: ease-in-out 1.5ms;
  }
}

@media only screen and (min-width: 1024px) {
  .top .spec .awardList li img {
    height: auto;
    width: 100%;
  }
}

.top .spec .btnArea {
  //display: -ms-flex;
  //display: -webkit-flex;
  display: flex;
  //-ms-flex-wrap: wrap;
  //-webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  //-ms-flex-pack: justify;
  //-webkit-justify-content: space-between;
  justify-content: space-between;
  width: 820px;
  margin: 0 auto;
}

.top .spec .btnArea li {
  text-align: center;
  width: 48%;
  margin-top: 40px;
}

@media only screen and (min-width: 1024px) {
  .top .spec .btnArea li:nth-child(1) {
    text-align: center;
    width: 48%;
    margin-top: 46px;
  }
}

.top .spec .btnArea li:last-child {
  margin-bottom: 0;
}

.top .spec .btnArea li a {
  display: block;
  padding: 15px 0 15px;
  border: 1px solid #ef7800;
  background: rgba(0, 0, 0, 0.6);
  color: #ef7800;
  position: relative;
  font-size: 16px;
}

.top .spec .btnArea li a:after {
  content: "";
  //-webkit-transform: rotate(135deg);
  //-ms-transform: rotate(135deg);
  transform: rotate(135deg);
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -7px;
  width: 10px;
  height: 10px;
  border-top: 2px solid #e57300;
  border-left: 2px solid #e57300;
  display: block;
}

.top .spec .btnArea li a:hover {
  background: #ef7800;
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.top .spec .btnArea li a:hover:after {
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
}