@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.slider_bars {
  display:flex;
  justify-content:center;
  align-items:center;
  position:absolute;
  left:0;
  width:100%;
  height:60px;
  margin:0 auto;
  background:#000;
  z-index:3;
  border-top:1px solid #111
 }

.slider_bars li {
  display:flex;
  align-items:center;
  width:60px;
  height:40px;
  margin:0 4px;
  cursor:pointer
 }

.slider_bars li::before {
  display:block;
  content:"";
  position:absolute;
  top:50%;
  width:60px;
  height:2px;
  background:#7e0000;
  transform:translateY(-50%)
 }