@import "../../../../styles/variables.scss";
@import "../../../../styles/mixins.scss";

.know_about {
  display: flex;
  width: 100%;
  height: 90%;
  position:relative;
  border-bottom:1px solid #3a3a3a;
  background:#000;
  overflow: hidden;
 }

 .know_about .inner {
  display: flex;
  position:relative;
  width: 100%;
  height: 100%;
  background: url(../../../../images/Portal/background_history.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat repeat;
  overflow-x: hidden;
  padding: 165px 0 100px;
  opacity:1;
  transition:opacity 1s,transform 1s;

  @media only screen and (max-width: 640px) {
    width: 100%;
  }

  @media (max-width: 380px) {
    overflow: hidden;
  }
 }

.know_about .inner .about_left {
  display:flex;
  position: relative;
  flex-direction:column;
  align-items:flex-end;
  width: 30%;
  margin-top: 10vh;
  left: 31.5vw;

  @media only screen and (max-width: 1400px) {
    display: flex;
    margin-left: 40vw;
  }

  @media only screen and (max-width: 990px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media only screen and (max-width: 720px) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  @media only screen and (max-width: 640px) {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-left: -23vw;
  }
 }

 .know_about .inner .about_left h3 {
  display:flex;
  width:810px;
  position:relative;
  margin:0 0 30px;
  color:#fff;
  font-family: $font-family;
  font-size:2.5rem;
  font-weight:400;
  line-height:1.2;
  letter-spacing:.05em;
  text-shadow:0 0 5px #000;
  opacity:1;
  transform:translateY(30px);
  transition:opacity .6s linear .6s,transform .6s ease-out .6s;

  @media only screen and (max-width: 720px) {
    position: relative;
    display: flex;
    font-size: 1.7rem;
  }

  @media only screen and (max-width: 640px) {
    width: 50%;
    margin-left: -20vw;
  }
 }

.know_about .inner .about_left h3::before {
  flex:none;
  justify-content:center;
  align-items:center;
  content:"";
  position:absolute;
  top:-23px;
  left:-25px;
  width:25px;
  height:3px;
  background:#eb0000;
  color:#eb0000;
  font-family:"Oswald",sans-serif;
  font-size:1.8rem
 }

 .know_about .inner .about_left p {
  display:flex;
  width:690px;
  margin:0 120px 40px 0;
  color:#e7e7e7;
  font-family:"Noto Serif JP",serif;
  font-size:1.2rem;
  line-height:2;
  text-shadow:0 0 10px #000;
  opacity:1;
  transform:translateY(30px);
  transition:opacity .6s linear 1s,transform 1s ease-out 1s; 
  
  @media only screen and (max-width: 640px) {
    width: 60%;
    margin-left: 10vw;
  }
 }

.know_about .inner .about_left .btn {
  display:flex;
  justify-content:center;
  align-items:center;
  width:200px;
  height:40px;
  margin:0 610px 60px 700px;
  border:1px solid #eb0000;
  background:rgba(0,0,0,.5);
  color:red;
  font-family:"Oswald",sans-serif;
  font-size:1rem;
  transition:background .2s,opacity .2s;
  opacity:1;
  transform:translateY(30px);
  transition:opacity .6s linear 1.4s,transform .6s ease-out 1.4s;
  cursor: pointer;

  @media only screen and (max-width: 990px) {
    position: relative;
    display: flex;
    margin-left: 1vw;
  }

  @media only screen and (max-width: 640px) {
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-left: 16vw;

    @media only screen and (max-width: 540px) {
      position: relative;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      margin-left: 18vw;
    }
  }
 }

.know_about .inner .about_left .btn:hover {
 background:#370000;
 transition:background ease-in-out .2s,opacity .2s;
}