@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";


.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;  
  --swiper-theme-color: #d4bfbf;
  --swiper-navigation-size: 0px;
}

.myswiper {
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
}

.myswiper{
  :global(.swiper-pagination-bullet) {
    background: #313131;
    padding: 2px;
    width: 5rem;
    height: 8px;
    border-radius: 2rem;
    opacity: 1;
}

  :global(.swiper-pagination-bullet-active) {
    background: #D80127;
    box-shadow: 0px 0px 8px 1px rgba(216, 1, 39, 0.8);
    width: 5rem;
    height: 8px;
    border-radius: 2rem;
  }
}

@media only screen and (max-width: 640px) {
  .myswiper{
    :global(.swiper-pagination-bullets) {
      display: none;
      height: 8px;
    }
  } 
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
  top: 10vw;
}

.swiperslide {
  top: 1rem;
  width: 480px;
  height: 450px;
  left: -21rem;
}

.swiperslide img {
  width: 100%;
  height: 100%;
  margin-top: 5vw;
  object-fit: cover;
  cursor: pointer;
  border-top: 1px solid #D80127;
  border-right: 1px solid #D80127;
  border-bottom: 1px solid #D80127;
  border-left: 1px solid #D80127;
}

.swiperslide::after {
  background: url("../../images/Resident3Remake/yt-icon.svg") center no-repeat;
  background-color: transparent;
  background-size: contain;
  content: "";
  display: block;
  height: 16%;
  left: 50%;
  max-width: 135px;
  opacity: .8;
  position: absolute;
  top: 50%;
  transition: background .25s ease, opacity .25s ease;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 12%; 
}

.swiperslide:hover::after {
  background: url("../../images/Resident3Remake/yt-r-icon.svg") center no-repeat;
    background-size: contain;
    transition:opacity .3s linear .2s,transform .3s ease-in-out .2s;
    }

@media only screen and (max-width: 1700px) {
  .container {
    margin-top: 20vw;
  }
}

@media only screen and (max-width: 1705px) {
  .swiperslide img {
    width: 100vw;
    height: 100%;
  }
}

@media only screen and (max-width: 960px) {
  .swiperslide img {
    border: 1px solid #D80127;
  }
}

@media only screen and (max-width: 1705px) {
  .myswiper {
    --swiper-navigation:none;
    display: inline-flex;
    justify-content: space-around;
    width: 100vw;
    height: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: translateY(-50%);
  }
}

@media only screen and (max-width: 640px) {
  .myswiper {
    position: absolute;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: translateY(-50%);
  }
}

@media screen and (min-width: 1705px) {
  .myswiper {
    width: 100%;
  }
}

@media only screen and (max-width: 1680px) {
  .myswiper {
    .swiper-scrollbar-drag {
      height: 100%;
      width: 100%;
      position: relative;
      background: rgba(255, 255, 255, 0.5);
      border-radius: 10px;
      left: 0;
      top: 0;
    }
  }
}

.text {
  height: 120px;
  position: relative;
  color: #FFF;
  font-family: $font-family;
  text-align: start;
  background: rgba(0, 0, 0, 0.8);
  border-top: 0 solid #D80127;
  border-right: 1px solid #D80127;
  border-bottom: 1px solid #D80127;
  border-left: 1px solid #D80127;
  font-size: 1.2222vw;
  margin-top: -4px;
  line-height: 1.2;
  padding: 4%;
}

@media only screen and (max-width: 960px) {
  .text {
    display: none;
  }
}

@media only screen and (max-width: 1400px) {
  .text {
    font-size: 1.6vw;
  }
}