.swiper {
  width: 100%;
  height: 80vh;
  background:url("../../../images/Resident2Images/04.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  --swiper-theme-color: #930912;
  --swiper-pagination: none;  
  /*
  --swiper-theme-color: #edf1f5; */
}

.swiper-pagination {
  width: 100%;
  height: 8px;
  left: 0;
  top: 0;
}

.swiper-button-prev,
.swiper-button-next {
  color: #930912;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iframe {
  width: 560px;
  height: 315px;
  padding: 1rem;
}

@media (min-width: 1024px) {
  .swiper {
    background:url("../../../images/Resident2Images/04.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .iframe {
    width: 800px;
    height: 460px;
  }
}
