
@import "../../../../styles/variables.scss";
@import "../../../../styles/mixins.scss";

.chara_item_inner {
    position: relative;
    overflow: hidden;
    width: 28.125vw;
    height: 38.541vw;
    margin: 0 auto; 
}

@media only screen and (max-width: 960px) {
	.chara_item_inner {
		width: 65vw;
		height: 84.259vw;
        top: 100px;
	}
}

.chara_item_cv {
	font-size: .9375vw;
	color: rgba(255, 255, 255, .7);
}

.chara_item_bg {
	visibility: visible;
	overflow: hidden;
    width: 100%;
}

.chara_item_bg img {
    overflow: hidden;
    width: 100%;
}

.chara_item_charaImg {
    overflow: hidden;
    top: 0;
    right: 7%;

    position: absolute;
    width: 120%;
    top: 1vw;
    z-index: 3;
    will-change: opacity, transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.chara_item_charaImg img {
    overflow: hidden;
    width: 100%;
}