@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.contents {
  position: relative;
  color: #fff;
}

.contents_profile {
  display:flex;
  position:relative;
  width:100%;
  margin:0 auto;
  padding:0 2px;
  background:url(../../../images/Portal/bg_belt.jpg) repeat;
  background-size: cover;
  z-index:5
 }

 .inner {
  display:flex;
  align-items:center;
  width:1200px;
  height:113px;
  margin:0 auto
 }

 .inner h2 {
  position:relative;
  margin:0 65px 0 25px;
  color:#fff;
  font-family: $font-family;
  font-size:1.2rem;
  line-height:1;
  white-space:nowrap;
 }

 @media only screen and (max-width: 960px) {
  .inner h2 {
    font-size: 12px;
  }
 }


 .inner h2::before {
  display:block;
  content:"";
  position:absolute;
  top:4px;
  left:-50px;
  width:25px;
  height:4px;
  background:rgba(255,255,255,.7)
 }

 .contents_profile_text {
  max-width:790px;
  color:#fff;
  font-family: $font-family;
  font-size:1.1rem
 }

 @media only screen and (max-width: 960px) {
  .contents_profile_text {
    display: block;
    font-size: 12px;
    margin-left: -50px;
  }
 }

 @import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

 
 .contents_profile .inner .btn {
  display:flex;
  justify-content:center;
  align-items:center;
  width:150px;
  height:35px;
  margin:0 0 0 auto;
  border:1px solid #b3b3b3;
  background:#000;
  color:#fff;
  font-family: $font-family;
  font-size:1.2rem;
  transition:background .2s,opacity .2s;
  background:none;
  font-size:1rem;
  
 }

 @media only screen and (max-width: 960px) {
  .contents_proflie .btn p {
    display: none;
    font-size: 10px;
    overflow-y: hidden;
  }
 }

 .contents_profile .inner .btn:hover,
 .contents_profile .inner .btn:active {
 background:#262626;
}