* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: 0;

  .myswiper{
    :global(.swiper-pagination-bullet) {
      background: white;
      width: 1rem;
      height: 1rem;
      border-radius: .5rem;
      opacity: 1;
  }
  
  :global(.swiper-pagination-bullet-active) {
    background-color: blue;
    width: 5rem;
    height: 1rem;
    border-radius: .5rem;
  }
}
  
  /* Barra de Rolagem */


/* Fundo que corre */
::-webkit-scrollbar-track {
  background-color: #232C3B;
}
/* Fundo que corre */

::-webkit-scrollbar {
  width: 6px;
  background: #F4F4F4;
}

/* Linha que desce */
::-webkit-scrollbar-thumb {
  background: #FE4719;
  border-radius: 15px;
}
/* Linha que desce*/


/* Barra de Rolagem */
}

img {
  max-width: 100%;
}