@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.main {
    @include justify-center;
    height: 100vh;
    position: relative;
    padding: 0 8rem;
    z-index: 1;
    background: #0c0c0c;   

    background: url("../../../images/Resident0/firstView-bg.jpg"), #000;
    background-position: center;
    background-repeat: no-repeat, repeat;
    overflow: hidden;

    &:before {
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;        
        z-index: 2;
    }

    &_bg {
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        position: absolute;
        overflow: hidden;
    }

    &_content {
        position: absolute;
        left: 8.8vw;
        top: 10rem;
        transition: ease-in-out 5ms;
        z-index: 5;

        h2 {
            text-align: center;
            font-size: 1.35vw;
            font-family: 'NotoSerifCJKjp', serif;
            margin-bottom: 3.083vw;
            margin-top: -30px;
            color: #fff;
            text-shadow: 0px 0px .4em #000000, 0px 0px .8em #000000, 0px 0px 1.2em #000000, 0px 0px 1.6em #000000, 0px 0px 2em #000000;
            position: relative;
            z-index: 4;
        }        
    } 

    @media only screen and (max-width: 960px) {
        .main_content {
            top: -5%;
            left: 2%;
        }
    }

    @media only screen and (max-width: 540px) {
        .main_content {
            top: 20%;
            left: 2%;
        }
    }

    @media only screen and (max-width: 540px) {
        .main_content h2 {
            left: -7%;
        }
    }

    .main_content img {
        width: 100%;
    }

    .firstView_switch {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        line-height: normal;
        left: 135px;
        border-bottom: 1px solid #fff;
        text-align: left;
        padding-bottom: 4px;
        position: relative;
        z-index: 6;
    }

    @media only screen and (max-width: 540px) {
        .firstView_switch {
            left: 60px;
        }
    }
    
    .firstView_switch_logo {
        width: 5vw;
        margin-right: 1.3541vw;
        margin-top: -15px;
    }
    
    .firstView_switch_logo img {
        width: 100%;
    }
    
    @media only screen and (max-width: 960px) {
        .firstView_switch_logo {
            width: 13.5185vw;
        }
    }
    
    .firstView_switch_text {
        font-family: 'NotoSerifCJKjp', serif;
        margin-top: -10px;
        font-size: 1.825vw;
        text-shadow: 0px 0px .4em #000000, 0px 0px .8em #000000, 0px 0px 1.2em #000000, 0px 0px 1.6em #000000, 0px 0px 2em #000000;
        letter-spacing: .06em;
        color: #fff;
    }

    .firstView_title_text {
        font-size: 1.50vw;
        font-family: 'NotoSerifCJKjp', serif;
        margin-bottom: 2.525vw;
        margin-left: 50px;
        text-shadow: 0px 0px .4em #000000, 0px 0px .8em #000000, 0px 0px 1.2em #000000, 0px 0px 1.6em #000000, 0px 0px 2em #000000;
        position: relative;
        font-weight: normal;
        z-index: 4;
    }
    
    .hk .firstView_title_text,
    .cn .firstView_title_text {
        font-family: serif;
    }
    
    @media only screen and (max-width: 960px) {
        .firstView_title_text {
            font-size: 3.7037vw;
            margin-bottom: 8.3333vw;
            text-shadow: 0px 0px .3em #000000, 0px 0px .6em #000000, 0px 0px .9em #000000, 0px 0px 1.2em #000000, 0px 0px 1.5em #000000;
        }
    }
    
    .hk .firstView_switch_text,
    .cn .firstView_switch_text {
        font-family: serif;
    }
    
    @media only screen and (max-width: 960px) {
        .firstView_switch_text {
            font-size: 4.1666vw;
        }
    }
    
    .firstView_switch_date {
        font-family: 'NotoSerifCJKjp', serif;
        font-size: 2.0833vw;
        letter-spacing: .2em;
        text-shadow: 0px 0px .4em #000000, 0px 0px .8em #000000, 0px 0px 1.2em #000000, 0px 0px 1.6em #000000, 0px 0px 2em #000000;
        color: #fff;
    }
    
    .hk .firstView_switch_date,
    .cn .firstView_switch_date {
        font-family: serif;
    }
    
    @media only screen and (max-width: 960px) {
        .firstView_switch_date {
            font-size: 4.8vw;
        }
    }

    .firstView_otherPlats {
        width: 17.7708vw;
        margin: 0 auto;
    }
    
    .firstView_otherPlats img {
        width: 100%;
    }
    
    @media only screen and (max-width: 1400px) {
        .firstView_otherPlats {
            margin-top: 5px;
            width: 21vw;
        }
    }
    
    @media only screen and (max-width: 960px) {
        .firstView_otherPlats {
            width: 64vw;
        }
    }

    @media only screen and (max-width: 540px) {
        .firstView_otherPlats {
            position: relative;
            width: 50vw;
            right: 4%;            
        }
    }
    
    .firstView_otherPlats--onsale {
        width: 23.7708vw;
    }
    
    @media only screen and (max-width: 1400px) {
        .firstView_otherPlats--onsale {
            width: 29.7708vw;
        }
    }
    
    @media only screen and (max-width: 960px) {
        .firstView_otherPlats--onsale {
            width: 81.7vw;
        }
    }

    .firstView_scroll {
        visibility: visible;
        font-size: 11px;
        color: #fff;
        letter-spacing: .3em;
        font-family: 'Cinzel', serif;
        text-align: center;
        position: absolute;
        z-index: 6;
        left: 50%;
        bottom: 8%;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        text-shadow: 0px 0px .4em #000,
        0px 0px .8em #000,
        0px 0px 1.2em #000,
        0px 0px 1.6em #000,
        0px 0px 2em;

        -webkit-animation-name: scrollAnim;
        animation-name: scrollAnim;
        -webkit-animation-duration: 2.8s;
        animation-duration: 2.8s;
        -webkit-animation-timing-function: ease;
        animation-timing-function: ease;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        margin-left: -15px;
    }
    
    .firstView_scroll:after {
        content: "";
        display: block;
        width: 28px;
        height: 14px;
        background: url(../../../images/Resident0/icons/scroll-arrow.png);
        background-size: contain;
        margin: 8px auto 0;
        filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur in="SourceAlpha" stdDeviation="16" /><feOffset dx="1" dy="1" result="offsetblur" /><feFlood flood-color="rgba(0,0,0,1)" /><feComposite in2="offsetblur" operator="in" /><feMerge><feMergeNode /><feMergeNode in="SourceGraphic" /></feMerge></filter></svg>#filter');
        -webkit-filter: drop-shadow(0px 0px 16px black);
        filter: drop-shadow(0px 0px 16px black);
    }
    
    @media only screen and (max-width: 960px) {
        .firstView_scroll {
            bottom: 0vw;
        }
    }
    
    @media only screen and (max-width: 600px) {
        .firstView_scroll {
            font-size: 10px;
        }
        .firstView_scroll:after {
            width: 14px;
            height: 7px;
        }
    }
    
    @-webkit-keyframes scrollAnim {
        0% {
            opacity: 0;
            -webkit-transform: translateY(0%, -8px);
            transform: translateY(0%, -8px);
        }
        20% {
            opacity: 1;
            -webkit-transform: translateY(-50%, -4px);
            transform: translateY(-50%, -4px);
        }
        40% {
            opacity: 1;
            -webkit-transform: translateY(-50%, 0);
            transform: translateY(-50%, 0);
        }
        80% {
            opacity: 1;
            -webkit-transform: translateY(-50%, 0);
            transform: translateY(-50%, 0);
        }
        90% {
            opacity: 0;
            -webkit-transform: translateY(-50%, 0);
            transform: translateY(-50%, 0);
        }
        100% {
            opacity: 0;
            -webkit-transform: translateY(-50%, 0);
            transform: translateY(-50%, 0);
        }
    }
    
    @keyframes scrollAnim {
        0% {
            opacity: 0;
            -webkit-transform: translate(0%, -15px);
            transform: translate(0%, -15px);
        }
        20% {
            opacity: 1;
            -webkit-transform: translateY(-50%, 84px);
            transform: translateY(-50%, -8px);
        }
        40% {
            opacity: 1;
            -webkit-transform: translateY(-50%, 0);
            transform: translateY(-50%, 0);
        }
        80% {
            opacity: 1;
            -webkit-transform: translateY(-50%, 0);
            transform: translateY(-50%, 0);
        }
        90% {
            opacity: 0;
            -webkit-transform: translateY(-50%, 0);
            transform: translateY(-50%, 0);
        }
        100% {
            opacity: 0;
            -webkit-transform: translateY(-50%, 0);
            transform: translateY(-50%, 0);
        }
    }
}



