@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.main {
    @include justify-center;
    height: 100vh;
    position: relative;
    padding: 0 8rem;
    z-index: 1;
    background: #0c0c0c;
   

    background: url("../../../images/Resident0/firstView-bg.jpg"), #000;
    background-position: center;
    background-repeat: no-repeat, repeat;
    overflow: hidden;

    &:before {
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;        
        z-index: 2;
    }

    &_bg {
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        position: absolute;
        overflow: hidden;
    }

    &_content {
        position: absolute;
        left: 8.854vw;
        
        -webkit-transform: translateY(-50%);
        opacity: 1;
        transform: translateZ(0);
        z-index: 5;

        h2 {
            text-align: center;
            font-size: 1.35vw;
            font-family: 'NotoSerifCJKjp', serif;
            margin-bottom: 3.083vw;
            margin-top: -30px;
            color: #fff;
            text-shadow: 0px 0px .4em #000000, 0px 0px .8em #000000, 0px 0px 1.2em #000000, 0px 0px 1.6em #000000, 0px 0px 2em #000000;
            position: relative;
            z-index: 4;

            @media (max-width: 1880px) {
                position: relative;
                display: flex; 
                left: 27%;          
            }
        }        
    } 
    
    .firstView_switch {
        bottom: 10px; 
        display: inline-flex;
        border-bottom: 1px solid #fff;
        text-align: left;        
        position: relative;
        left: 120px; 
    }

    .firstView_switch_logo {
        width: 5vw;
        margin-right: 1.3541vw;

        img {
            position: relative;
            width: 100%; 
            left: 0;
            top: -10px;
        }
    }

    .firstView_switch_info {
        margin: 0;
        margin-top: -10px;
        border: 0;
        font-weight: normal;
    }

    .firstView_switch_text {
        font-family: 'NotoSerifCJKjp', serif;
        line-height: 1.4;
        padding-top: 2px;
        font-size: 1.6625vw;
        color: #fff;
        text-shadow: 0px 0px .4em #000000, 0px 0px .8em #000000, 0px 0px 1.2em #000000, 0px 0px 1.6em #000000, 0px 0px 2em #000000;
        letter-spacing: .06em;
    }

    .firstView_switch_date {
        font-family: 'NotoSerifCJKjp', serif;
        font-size: 2.0833vw;
        letter-spacing: .1em;
        line-height: 1.4;
        color: #fff;
        text-shadow: 0px 0px .4em #000000,
         0px 0px .8em #000000, 0px 0px 1.2em
         #000000, 0px 0px 1.6em #000000,
          0px 0px 2em #000000;
    }

    .firstView_otherPlats {
        display: flex;
        width: 17.7708vw;
        margin: 0 auto;

        img {
            width: 100%;
        }

        @media (max-width: 1880px) {
            display: flex;
            margin-left: 13rem;
        }
    }

    .firstView_scroll_is_animate {

        animation-name: scrollAnim;
        -webkit-animation-duration: 2.8s;
        animation-duration: 2.8s;
        -webkit-animation-timing-function: ease;
        animation-timing-function: ease;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        
        visibility: visible;
        font-size: 11px;
        letter-spacing: .3em;
        font-family: 'Cinzel', serif;
        text-align: center;
        position: absolute;
        z-index: 6;
        left: 50%;
        bottom: 8%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        text-shadow: 0px 0px .4em #000, 0px 0px .8em #000, 0px 0px 1.2em #000, 0px 0px 1.6em #000, 0px 0px 2em;

        &::after {
            content: "";
            display: block;
            width: 28px;
            height: 14px;
            background: url(../../../images/Resident0/scroll-arrow.png);
            background-size: auto;
            background-size: contain;
            margin: 8px auto 0;
            filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur in="SourceAlpha" stdDeviation="16" /><feOffset dx="1" dy="1" result="offsetblur" /><feFlood flood-color="rgba(0,0,0,1)" /><feComposite in2="offsetblur" operator="in" /><feMerge><feMergeNode /><feMergeNode in="SourceGraphic" /></feMerge></filter></svg>#filter');
            -webkit-filter: drop-shadow(0px 0px 16px black);
            filter: drop-shadow(0px 0px 16px black);
        }
    }
}

