@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.main {
    @include justify-center;
    height: 100vh;
    position: static;
    padding: 0 8rem;
    z-index: 1;
    background: #0c0c0c;

    background: url("../../../images/Resident0/firstView-bg.jpg"), #000;
    background-position: center;
    background-repeat: no-repeat, repeat;
    overflow-y: hidden;

    @media (min-width: 768px) {
        @include justify-start;
    }

    &:before {
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;        
        z-index: 2;
    }

    &_bg {
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        position: absolute;
        overflow: hidden;
    }

    &_content {
        position: absolute;
        left: 8.854vw;
        
        -webkit-transform: translateY(-50%);
        transform: scale(90%);
        z-index: 5;

        h2 {
            text-align: center;
            font-size: 1.35vw;
            font-family: 'NotoSerifCJKjp', serif;
            margin-bottom: 3.083vw;
            margin-top: -30px;
            color: #fff;
            text-shadow: 0px 0px .4em #000000, 0px 0px .8em #000000, 0px 0px 1.2em #000000, 0px 0px 1.6em #000000, 0px 0px 2em #000000;
            position: relative;
            z-index: 4;
        }
    } 
    
    .firstView_switch {
        bottom: 10px; 
        display: inline-flex;
        border-bottom: 1px solid #fff;
        text-align: left;        
        position: relative;
        left: 120px; 
    }

    .firstView_switch_logo {
        width: 5vw;
        margin-right: 1.3541vw;

        img {
            position: relative;
            width: 100%;
            left: 0;
            top: -10px;
        }
    }

    .firstView_switch_info {
        margin: 0;
        margin-top: -10px;
        border: 0;
        font-weight: normal;
    }

    .firstView_switch_text {
        font-family: 'NotoSerifCJKjp', serif;
        line-height: 1.4;
        padding-top: 2px;
        font-size: 1.6625vw;
        color: #fff;
        text-shadow: 0px 0px .4em #000000, 0px 0px .8em #000000, 0px 0px 1.2em #000000, 0px 0px 1.6em #000000, 0px 0px 2em #000000;
        letter-spacing: .06em;
    }

    .firstView_switch_date {
        font-family: 'NotoSerifCJKjp', serif;
        font-size: 2.0833vw;
        letter-spacing: .1em;
        line-height: 1.4;
        color: #fff;
        text-shadow: 0px 0px .4em #000000,
         0px 0px .8em #000000, 0px 0px 1.2em
         #000000, 0px 0px 1.6em #000000,
          0px 0px 2em #000000;
    }

    .firstView_otherPlats {
        width: 17.7708vw;
        margin: 0 auto;

        img {
            width: 100%;
        }
    }
}

