@import "../../../../styles/variables.scss";
@import "../../../../styles/mixins.scss";

.rebecca {
    position: absolute;
    z-index: 3;
    width: 30.2916vw;
    right: 0;
    top: 30%;

    &_container {        
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1200px;
        padding: 1rem;

        @media (max-width: 960px) {
            margin-left: -12rem;
            transition: 0.3s ease-in-out;
         }

        @media (min-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 540px) {
            img {
                display: none;
            }
        }

        &_left {
            @include align-end;
            padding: 1rem, 2rem;
            width: 400px;
            margin-left: -50px;                       

            img {
                width: 100%;
                height: 100%;
                position: relative;
                object-fit: cover;               
                transition: 0.5s ease-in-out;

                @media (min-width: 768px) {
                    right: -70px;
                    cursor: pointer;

                    &:hover {
                        right: -50px;
                    }
                }

                @media (min-width: 1024px) {
                    right: -100px;
                    cursor: pointer;

                    &:hover {
                        right: -70px;
                    }
                }
            }
        }
    }
}