@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.chara {
    position: relative;
}

@media only screen and (max-width: 960px) {
	.chara {
		margin-bottom: 20.37vw;
	}
}

.chara_list {
    width: 90vw;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    list-style-type: none;
}

@media only screen and (max-width: 960px) {
	.chara_list {
		display: block;
	}
}

.chara_item_rebecca {
    position: relative;
    will-change: opacity, filter;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.chara_item_name_rebecca {
	position: absolute;
	z-index: 4;
	background: rgba(0, 0, 0, .8);
	font-size: 1.302vw;
	color: #fff;
	font-family: 'NotoSerifCJKjp', serif;
	width: 83%;
	padding: 1em 0;
	bottom: 0;
	left: 50%;
	-webkit-transform: translate(-50%, 50%);
	transform: translate(-50%, 50%);
	text-align: center;
}

@media only screen and (max-width: 960px) {
	.chara_item_name_rebecca {
		position: absolute;
		font-size: 2.500vw;
		width: 72.4%;		
	}
}

@media only screen and (max-width: 600px) {
	.chara_item_name_rebecca {
		position: absolute;
		font-size: 12px;
	}
}

.chara_item_billy {
    position: relative;
    will-change: opacity, filter;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.chara_item_name_billy {
	position: absolute;
	z-index: 4;
	background: rgba(0, 0, 0, .8);
	font-size: 1.302vw;
	color: #fff;
	font-family: 'NotoSerifCJKjp', serif;
	width: 83%;
	padding: 1em 0;
	bottom: 0;
	left: 50%;
	-webkit-transform: translate(-50%, 50%);
	transform: translate(-50%, 50%);
	text-align: center;
}

@media only screen and (max-width: 960px) {
	.chara_item_name_billy {
		position: absolute;
		font-size: 2.500vw;
		width: 72.4%;
		margin-bottom: -100px;		
	}
}

@media only screen and (max-width: 600px) {
	.chara_item_name_billy {
		position: absolute;
		font-size: 12px;
	}
}

.chara_item_creatures {
    position: relative;
    will-change: opacity, filter;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.chara_item_name_creatures {
	position: absolute;
	z-index: 4;
	background: rgba(0, 0, 0, .8);
	font-size: 1.302vw;
	color: #fff;
	font-family: 'NotoSerifCJKjp', serif;
	width: 83%;
	padding: 1em 0;
	bottom: 0;
	left: 50%;
	-webkit-transform: translate(-50%, 50%);
	transform: translate(-50%, 50%);
	text-align: center;
}

@media only screen and (max-width: 960px) {
	.chara_item_name_creatures {
		position: absolute;
		font-size: 2.500vw;
		width: 72.4%;
		margin-bottom: -190px;	
	}
}

@media only screen and (max-width: 600px) {
	.chara_item_name_creatures {
		position: absolute;
		font-size: 12px;
	}
}