.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  --swiper-theme-color: #7e0000;
  --swiper-navigation-size: 0px;

  .myswiper {
    height: 14vw;
    width: 100%;

    .swiperslide img {
      width: 100%;
      height: 14.5vw;
      margin-top: 5px;
      object-fit: cover;
      cursor: pointer;
    }
  }  
}

@media only screen and (max-width: 960px) {
  .container {
    margin-bottom: 8vw;
  }
}

@media only screen and (max-width: 960px) {
  .myswiper {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: translateY(-50%);
  }
}

@media only screen and (max-width: 640px) {
  .myswiper {
    position: absolute;
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: translateY(-50%);
  }
}
