@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";
/* Estilização dos Personagens, e suas li que contém os textos, que são incluidos no component Nav */ 
.menu {
    width: 100%;
    @include align-center;
    flex-direction: column;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    /* Primeira estilização é sobre a Umbrella  */
    ul {
        @include align-center;
        flex-direction: column;
        margin-bottom: 2rem;
        cursor: pointer;

        li {
            &:not(:last-child) {
                margin-bottom: 3rem;
            }

            a {
                color: $white;
                transition: 0.3s ease-in-out;

                &:hover {
                    color: $gray;
                }
            }
        }
    } 

    /* Segunda estilização é sobre o personagem Leon */
    ul {
        @include align-center;
        flex-direction: column;
        margin-bottom: 2rem;
        cursor: pointer;

        li_2 {
            &:not(:last-child) {
                margin-bottom: 3rem;
                font-size: 1.2rem;
            }

            a {
                color: $white;
                transition: 0.3s ease-in-out;

                &:hover {
                    color: $gray;
                }
            }
        }
    }
    /* Terceira estilização é sobre a personagem Claire */
    ul {
        @include align-center;
        flex-direction: column;
        margin-bottom: 2rem;
        cursor: pointer;

        li_3 {
            &:not(:last-child) {
                margin-bottom: 3rem;
                font-size: 1.2rem;
            }

            a {
                color: $white;
                transition: 0.3s ease-in-out;

                &:hover {
                    color: $gray;
                }
            }
        }
    }

    /* Quarta estilização é sobre a personagem Sherry */
    ul {
        @include align-center;
        flex-direction: column;
        margin-bottom: 2rem;
        cursor: pointer;

        li_4 {
            &:not(:last-child) {
                margin-bottom: 3rem;
                font-size: 1.2rem;
            }

            a {
                color: $white;
                transition: 0.3s ease-in-out;

                &:hover {
                    color: $gray;
                }
            }
        }
    }

    /* Quinta estilização é sobre a personagem Ada */
    ul {
        @include align-center;
        flex-direction: column;
        margin-bottom: 2rem;
        cursor: pointer;

        li_5 {
            &:not(:last-child) {
                margin-bottom: 3rem;
                font-size: 1.2rem;
            }

            a {
                color: $white;
                transition: 0.3s ease-in-out;

                &:hover {
                    color: $gray;
                }
            }
        }
    }


    ul {
        @include align-center;
        flex-direction: column;
        margin-bottom: 2rem;
        cursor: pointer;

        li_6 {
            &:not(:last-child) {
                margin-bottom: 3rem;
                font-size: 1.2rem;
            }

            a {
                color: $white;
                transition: 0.3s ease-in-out;

                &:hover {
                    color: $gray;
                }
            }
        }
    }

    ul {
        @include align-center;
        flex-direction: column;
        margin-bottom: 2rem;
        cursor: pointer;

        li_7 {
            &:not(:last-child) {
                margin-bottom: 3rem;
                font-size: 1.2rem;
            }

            a {
                color: $white;
                transition: 0.3s ease-in-out;

                &:hover {
                    color: $gray;
                }
            }
        }
    }
}
